@use '@/assets/variables.scss' as *;

///////////////////////////////////////
// Bulma
///////////////////////////////////////

// Load everything
@use 'bulma/css/bulma.css';

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with(
    $primary: $color-blue-main,
    $link: $color-blue-main,
    $warning: $color-blue-main,
);

// Load Bulma's base styles and themes (including the minireset)
@use "bulma/sass/base";
@use "bulma/sass/themes";

// Elements
@use "bulma/sass/elements/title";
@use "bulma/sass/elements/button" with(
    $button-ghost-background: $color-blue-main,
    $button-ghost-color: white,
    $button-ghost-hover-color: white,
);
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/block";
@use "bulma/sass/elements/notification";
@use "bulma/sass/elements/delete";

// Grid
@use "bulma/sass/grid/columns";

// Components
@use "bulma/sass/components/navbar" with (
    $navbar-item-img-max-height: 50px,
);

// Form
@use "bulma/sass/form/input-textarea";
@use "bulma/sass/form/tools";

// Helpers
@use "bulma/sass/helpers/color";
@use "bulma/sass/helpers/flexbox";
@use "bulma/sass/helpers/spacing";
@use "bulma/sass/helpers/typography";

// Layout
@use "bulma/sass/layout/section";
@use "bulma/sass/layout/footer" with (
    $footer-background-color: $color-grey-1,
    $footer-padding: 32px,
);
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/hero";


///////////////////////////////////////
// Google fonts
///////////////////////////////////////
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('@/fonts/CormorantGaramond-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

///////////////////////////////////////
// Custom CSS
///////////////////////////////////////
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 21px;
}
